:root {
    --main: white;
    --sub: #75b481;
}

body {
    margin: 0px;
    font-size: 25px;
    background-color: var(--main);
}

.header-flex-container {
    background-color: var(--sub);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
    color: var(--main);
}

.header-flex-container .main-text {
    font-size: 40px;
}

.top-bar-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.top-bar-flex-container > div {
    margin: 5px;
}

.top-bar-flex-container .btn {
    flex-basis: 100%;
}

.content-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-flex-container > div {
    padding: 2px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}

.content-flex-container > div > div {
    background-color: var(--sub);
    color: var(--main);
}

.log {
    width: 250px;
    height: 800px;
}

.bold {
    font-weight: bold;
}

.icon {
    width: 30px;
}